* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    font: 13px;
    height: 100%;
}

form {
	background: linear-gradient(to right, #0082e7, #f3f3f3);
    width: 100%;
    height: 10%;
    padding: .5%;
}

form input {
    border: 0;
    padding-left: 15px;
    width: 89%;
    margin-right: 0.5%;
    height:65%
}

form button {
    width: 10%;
    height: 65%;
    background: #2274a5;
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    line-height: 1.5em;
    position: absolute;
    bottom: 0;
}

#messages li {
    padding: 5px 10px;
}

#users li {
    padding: 5px 10px;
}

#header{
	height: 5%;
	width: 100%;
	background: linear-gradient(to right, #0082e7, #f3f3f3);
}

#users{
    font: 15px;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    line-height: 1.5em;
    position: absolute;
    bottom: 0;
}

#Wrapper{
    height: 86%;
    width: 100%;
    position: relative;
    border: 1px solid black;
}

#messageContainer{
    height: 100%;
    width: 85%;
    border: 3px solid black;
    position: relative;
}

#userContainer{
	height: 100%;
	border: 3px solid black;
    position: absolute;
    bottom: 0;
    left: 85%;
    width: 15%;
}

.ttext {
    font-weight: bold;
}